@page "/"
@using WatchStore.Services
@using WatchStoreApi.Dtos
@inject IProductService _iproductService
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (products == null)
{
    <p>Loading...</p>
}
else
{
    
}

@code
{
    private IEnumerable<ProductDto> products;
    
    protected override async Task OnInitializedAsync()
    {
        products = await _iproductService.GetProducts();
    }
}

