@page "/rolex"
@using System.Globalization
@using WatchStore.Services
@using WatchStore.Components
@inject IProductService _iproductService
<h3>Rolex Watches</h3>

<WatchCatalog  CategoryId="1"/>

@code 
{
    
}




